
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
#list{
    color: rgb(231, 235, 14);
    margin-left: 45%;
    font-size: xx-large;
}
body{
    background-color: rgb(150, 127, 255);
}